<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/detalhe-produto.css">
    <title>detalhe produto</title>
</head>
<body>
  <!-- inicial header -->

  <header> 
    <section class="header-section">
        <h2>Frete Gratis para todo o Brasil nas compras acima de <span class="span">R$300 </span> </h2>
        </section>
    <div class="nav-bar">

        <nav>
            <a class="logo"href="logo">Logo da empresa</a>
            
            <ul class="list-menu">
                <li><a href="#">Home</a></li>               
            
                <li><a href="#">Categorias</a></li>
            
                <li><a href="#">Ofertas</a></li>
            
                <li><a href="#">Sobre nós</a></li>
            </ul>
            <div id="divBusca">
                
                <input type="text" id="txtBusca" placeholder="Buscar..."/>
                <button id="btnBusca">Buscar</button>
              </div>
    
            
        </nav>
    </div>
</header>
  <!-- final header -->

   <!-- main -->
<main>
    <section>
        <div class="conteudo-main-detalhe">
            <div class="conteudo-esquerda">
                <div class="itens">
                    <div class="img-selecionado">
                        <img src="/img/camiseta.jpg" alt="camiseta">
                    </div>
                    <div class="imagens-pequenas">
                        <div class="imagem">
                            <img src="/img/camiseta.jpg" alt="camiseta">
                        </div>
                        <div class="imagem">
                            <img src="/img/camiseta.jpg" alt="camiseta">
                        </div>
                        <div class="imagem">
                            <img src="/img/camiseta.jpg" alt="camiseta">
                        </div>
                        <div class="imagem">
                            <img src="/img/camiseta.jpg" alt="camiseta">
                        </div>
                    </div>
                </div>

            </div>
            <div class="conteudo-direita">
                <div class="conteudo-detalhe">

                    <h6>Camiseta Masculina Basic</h6>
                    <h1>Camiseta Gaselio</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Ipsum explicabo enim fugiat esse, f
                    acilis</p>
                    <span class="preco">R$59,90</span>
                    <span class="desconto">R$9,90</span>
                    <div class="opcoes">
                        <div class="quantidade">
                            <div class="btn-menos">
                                <img src="/img/icon-minus.svg" alt="">
                            </div>
                            <span>0</span>
                            <div class="btn-mais">
                                <img src="/img/icon-plus.svg" alt="">
                            </div>
                        </div>
                        <a href="#" class="btn-carrinho"><img src="/img/icon-cart.svg" alt="">Add ao carrinho</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>


   <!-- main -->

   <footer>
    <div class="footer-content">



        <h3>code opacity</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero facere repellendus commodi molestiae consequatur iste? Consequuntur, fugiat perspiciatis voluptatem aut est dicta culpa modi laborum in tempora, assumenda itaque quos!</p>
        <ul class="socials">

            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>

        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2023 codeOpacity desing by <span>Luiz Felipe</span> </p>
    </div>
</footer>

    
  <script src="/js"></script>
</body>
</html>