<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>index</title>
</head>
<body>
    <header>
        <div class="header">
            aqui vai o header
        </div>
    </header>

   <section class="home" id="home">
    <div class="home-text">
        <h1>Star your Day<br> whith coffee</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officiis iste sit saepe ratione vitae expedita? Eos ipsum, dolor corrupti pariatur, veritatis sequi magni ut nam vel provident odit quasi.</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    <div class="home img">
        <img src="/img/vetor-home.png" alt="">
    </div>
   </section>
    
  <script src="/js"></script>
</body>
</html>