<%- include('parts/header.ejs', {css: ['index.css', 'header.css', 'lista-produtos-adm.css']}) %>
  <!-- final header -->


  
<body>
    <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Edição</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="/public/img/camiseta.jpg" alt=""></td>
            <td><h3> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae laudantium perspiciatis voluptate quibusdam soluta optio reiciendis doloribus aperiam officia, cum quidem beatae accusantium, suscipit praesentium et sint incidunt eos hic. </h3></td>
            <td>
              
                <a href="">Editar</a>
                <a href="">Remover</a>
            
            </td>
          </tr>
          
        </tbody>
      </table>

   <footer>
        <div class="footer-content">



            <h3>code opacity</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero facere repellendus commodi molestiae consequatur iste? Consequuntur, fugiat perspiciatis voluptatem aut est dicta culpa modi laborum in tempora, assumenda itaque quos!</p>
            <ul class="socials">

                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>

            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2023 codeOpacity desing by <span>Luiz Felipe</span> </p>
        </div>
    </footer>

    
  <script src="/js"></script>
</body>
</html>