<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>index</title>
</head>
<body>
  <!-- inicial header -->

  <header> 
    <section class="header-section">
        <h2>Frete Gratis para todo o Brasil nas compras acima de <span class="span">R$300 </span> </h2>
        </section>
    <div class="nav-bar">

        <nav>
            <a class="logo"href="logo">Logo da empresa</a>
            
            <ul class="list-menu">
                <li><a href="#">Home</a></li>               
            
                <li><a href="#">Categorias</a></li>
            
                <li><a href="#">Ofertas</a></li>
            
                <li><a href="#">Sobre nós</a></li>
            </ul>
            <div id="divBusca">
                
                <input type="text" id="txtBusca" placeholder="Buscar..."/>
                <button id="btnBusca">Buscar</button>
              </div>
    
            
        </nav>
    </div>
</header>
  <!-- final header -->

   

   <!--produto -->

   <section class="produtos" id="produtos">
    <div class="cabecalho-produto">
        <h2>Lista de Produtos</h2>
    </div>
    <!-- container -->

    <div class="produtos-container">
        <div class="box">
            <img src="/img/camiseta.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa2.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa3.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa4.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa5.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa6.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa6.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa6.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa6.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa6.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
        <div class="box">
            <img src="/img/roupa6.jpg" alt="">
            <h3>Roupa modelo tal....</h3>
            <div class="conteudo">
                <span>$39,40</span>
                <a href="#">Adicione ao carrinho</a>
            </div>
        </div>
    </div>
   </section>

   <footer>
    <div class="footer-content">



        <h3>code opacity</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero facere repellendus commodi molestiae consequatur iste? Consequuntur, fugiat perspiciatis voluptatem aut est dicta culpa modi laborum in tempora, assumenda itaque quos!</p>
        <ul class="socials">

            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>

        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2023 codeOpacity desing by <span>Luiz Felipe</span> </p>
    </div>
</footer>

    
  <script src="/js"></script>
</body>
</html>