/* importar a fonte */


*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    scroll-margin-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration:none ;
}

:root{
    --main-color:#bc9667;
    --second-color: #edeae3;
    --text-color:#1b1b1b;
    --bg-color:#fff

}
section{
    padding:50px 100px;
}

img{
    width: 100%;
}


body{
    color: var(--text-color)
}
.home{
   
    width: 100%;
    min-height: 100vh;
    background: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
    


}

.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px
}

.home-text p{
    font-size: 0.938rem;
    color: var(var(--bg-color));
    margin: 0.5rem 0 1.4rem;
}

.btn{
    padding: 10px 40px;
    border-radius:0.3rem;
    background-position: var(--main-color);
    color:var(--bg-color);
    font-weight: 500;
}
.btn:hover{
    background-color: #8a6f4d;
}