<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Roupa Masculina</title>

    <% for(let c of css) { %>
    <link rel="stylesheet" href="css/<%= c %>">
    <link rel="stylesheet" href="/css/<%= c %>">
    <% } %>

   

</head>
<body>
    <header>
        <section>
            <h2>Frete Gratis para todo o Brasil nas compras acima de <span class="span">R$300 </span> </h2>
            </section>
        <div class="nav-bar">

            <nav>
                <a class="logo"href="logo">Logo da empresa</a>
                
                <ul class="list-menu">
                    <li><a href="#">Home</a></li>               
                
                    <li><a href="#">Categorias</a></li>
                
                    <li><a href="#">Ofertas</a></li>
                
                    <li><a href="#">Sobre nós</a></li>
                </ul>
                <form id="divBusca" method="get" action="/buscar">
                    
                    <input type="text" id="txtBusca" placeholder="Buscar..."/>
                    <button id="btnBusca">Buscar</button>
                </form>
        
                
            </nav>
        </div>
    </header>

   

